[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
openai = "*"
huggingface-hub = "*"
transformers = "*"
text-generation = "*"
install = "*"
google-search-results = "*"

[dev-packages]

[requires]
python_version = "3.10"
